.Main {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px 20px 5px;
  margin-top: 40px;
  max-height: 420px;
}
.Main nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
.Main nav ul li {
  font-size: smaller;
  list-style-type: none;
  padding: 8px 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: smaller;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  border-top: 0.5px solid rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}

.Main nav ul li:hover {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
  border-top: 0.5px solid rgba(128, 128, 128, 0.3);
  transition: all 200ms ease-in-out;
}
