.SearchCity {
  margin-left: 10px;
  font-weight: 300;
}

.SearchCity input[type="search"] {
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 5px;
  width: 80%;
    border: 0.5px solid rgba(128, 128, 128, 0.3);

}
.SearchCity button {
  border: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
}
.SearchCity button:hover {
  border-top: 0.5px solid rgba(128, 128, 128, 0.8);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.8);
  transition: all 200ms ease-in-out;
  background-color: rgba(249, 254, 255, 0.5);
}
