.SearchForm {
  margin-left: 10px;
  font-weight: 300;
}

.SearchForm input[type="search"] {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 60%;
  border: 0.5px solid rgba(128, 128, 128, 0.3);
}
.SearchForm button {
  border: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}


.SearchForm button:hover {
  border: 0.5px solid rgba(128, 128, 128, 0.8);
  transition: all 200ms ease-in-out;
}

.SearchForm .searchButton:hover {
  background-color: rgba(249, 254, 255, 1);
}
.SearchForm .currentLocationButton:hover {
  background-color: rgba(238, 254, 234, 1);
}