.TodayWeather {
  margin-top: 10px;
  margin-left: 10px;
}
.TodayWeather h1 {
  font-size: larger;
  font-weight: 100;
  margin-top: 0;
margin-bottom: 0;
  color: rgb(82, 81, 81);
}
.TodayWeather p {
  font-size: small;
  margin-top: 2px;
  font-weight: lighter;
}

.TodayWeather .todayWeatherBox {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  /* flex-direction: row;
  align-items: flex-start; */
}
.TodayWeather .temperatureToday {
  width: 250px;
  display: flex;
}
.TodayWeather .temperatureToday h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size:xx-large;
    font-weight: lighter;
    display: flex;

}
.TodayWeather .temperatureToday h2 span {
  font-size: small;
  align-items: flex-start;
  margin-top: 4px;
}
.TodayWeather .parametersToday h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: lighter;
}
